.Rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;

  .img {
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rain;
    top: -20vh;
  }
  @keyframes rain {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    50% {
      transform: translate(-10vw, 60vh) rotate(180deg);
    }
    100% {
      transform: translate(-20vw, 120vh) rotate(360deg);
    }
  }
}
